{
  "openapi": "3.0.0",
  "info": {
    "title": "LP Agent API",
    "version": "1.0.0",
    "description": "API for LP Agent\n\n**Rate Limiting**\n\nThis API implements rate limiting to ensure fair usage and protect our services. The current rate limit is:\n\n- **5 requests per 1 minute** per API Keys\n\nIf you exceed this limit, you will receive a 429 (Too Many Requests) response. Please wait for the rate limit window to reset before making additional requests.\n\nIf you need more, please contact us at **thanhle@getnimbus.io** or TG: **@thanhle27**"
  },
  "servers": [
    {
      "url": "https://api.lpagent.io",
      "description": "API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/open-api/v1/lp-positions/opening": {
      "get": {
        "summary": "Get opening LP positions for an owner",
        "description": "Retrieves current liquidity pool positions that are open for a specific wallet owner",
        "tags": ["positions"],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": { "type": "string" },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved opening positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "count": {
                      "type": "integer",
                      "description": "Total number of positions",
                      "example": 11
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": { "type": "string", "example": "Open" },
                          "strategyType": {
                            "type": "string",
                            "example": "BidAskImBalanced"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "Position ID (token ID)",
                            "example": "Ep22EwKegXis3bTC6P8JLgsHaT5J2beM2TncKe2Hmv24"
                          },
                          "pairName": { "type": "string", "example": "GP" },
                          "currentValue": {
                            "type": "string",
                            "example": "53413.446031254"
                          },
                          "inputValue": {
                            "type": "number",
                            "example": 54754.429180896324
                          },
                          "inputNative": {
                            "type": "number",
                            "example": 307.6172496731366
                          },
                          "outputValue": { "type": "number", "example": 0 },
                          "outputNative": { "type": "number", "example": 0 },
                          "collectedReward": { "type": "number", "example": 0 },
                          "collectedRewardNative": {
                            "type": "number",
                            "example": 0
                          },
                          "collectedFee": {
                            "type": "number",
                            "example": 5625.827591325444
                          },
                          "collectedFeeNative": {
                            "type": "number",
                            "example": 31.587863106085184
                          },
                          "uncollectedFee": {
                            "type": "string",
                            "example": "0"
                          },
                          "tickLower": { "type": "integer", "example": -402 },
                          "tickUpper": { "type": "integer", "example": -333 },
                          "pool": {
                            "type": "string",
                            "example": "2DeF1QHAQMpNXCGjcsm2pWw1V4KknGtwd2wEh2fTriKC"
                          },
                          "liquidity": { "type": "string", "example": "0" },
                          "token0": {
                            "type": "string",
                            "example": "31k88G5Mq7ptbRDf3AM13HAq6wRQHXHikR8hik7wPygk"
                          },
                          "token1": {
                            "type": "string",
                            "example": "So11111111111111111111111111111111111111112"
                          },
                          "inRange": { "type": "boolean", "example": true },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-07-25T16:23:04.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-08-01T03:35:38.000Z"
                          },
                          "pnl": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "example": 1515.548691898919
                              },
                              "percent": {
                                "type": "number",
                                "example": 2.7679015461779115
                              },
                              "valueNative": {
                                "type": "number",
                                "example": 20.712922225935518
                              },
                              "percentNative": {
                                "type": "number",
                                "example": 6.733342245255866
                              }
                            }
                          },
                          "pnlNative": {
                            "type": "number",
                            "example": -276.0293865670514
                          },
                          "upnl": {
                            "type": "number",
                            "nullable": true,
                            "example": null
                          },
                          "owner": {
                            "type": "string",
                            "example": "7KHx2Uc5qsqz652eXbu8Qtabi5KLxWJLgxFzcaBzP32i"
                          },
                          "dpr": {
                            "type": "number",
                            "example": 0.0042857830392432185
                          },
                          "dprNative": {
                            "type": "number",
                            "example": 0.01042582025071876
                          },
                          "ageHour": {
                            "type": "number",
                            "nullable": true,
                            "example": null
                          },
                          "decimal0": { "type": "integer", "example": 9 },
                          "decimal1": { "type": "integer", "example": 9 },
                          "yield24h": {
                            "type": "number",
                            "nullable": true,
                            "example": null
                          },
                          "apr": {
                            "type": "number",
                            "nullable": true,
                            "example": null
                          },
                          "protocol": {
                            "type": "string",
                            "example": "meteora"
                          },
                          "token0Info": {
                            "type": "object",
                            "properties": {
                              "token_symbol": {
                                "type": "string",
                                "example": "GP"
                              },
                              "token_name": {
                                "type": "string",
                                "example": "Graphite"
                              },
                              "token_decimals": {
                                "type": "integer",
                                "example": 9
                              },
                              "token_address": {
                                "type": "string",
                                "example": "31k88G5Mq7ptbRDf3AM13HAq6wRQHXHikR8hik7wPygk"
                              },
                              "logo": {
                                "type": "string",
                                "example": "https://arweave.net/ALLzymnuIihFPhoNUJpPxQzbGI8LodXKhNzXzbRMPbA"
                              }
                            }
                          },
                          "token1Info": {
                            "type": "object",
                            "properties": {
                              "token_symbol": {
                                "type": "string",
                                "example": "SOL"
                              },
                              "token_name": {
                                "type": "string",
                                "example": "Wrapped SOL"
                              },
                              "token_decimals": {
                                "type": "integer",
                                "example": 9
                              },
                              "token_address": {
                                "type": "string",
                                "example": "So11111111111111111111111111111111111111112"
                              },
                              "logo": {
                                "type": "string",
                                "example": "https://www.dextools.io/resources/tokens/logos/3/solana/So11111111111111111111111111111111111111112.jpg"
                              }
                            }
                          },
                          "poolInfo": {
                            "type": "object",
                            "properties": {
                              "fee": { "type": "integer", "example": 100 },
                              "tickSpacing": {
                                "type": "integer",
                                "example": 100
                              }
                            }
                          },
                          "age": { "type": "string", "example": "6.49" },
                          "position": {
                            "type": "string",
                            "example": "Ep22EwKegXis3bTC6P8JLgsHaT5J2beM2TncKe2Hmv24"
                          },
                          "logo0": {
                            "type": "string",
                            "example": "https://token-logo.lpagent.io/api/v1/logo?address=31k88G5Mq7ptbRDf3AM13HAq6wRQHXHikR8hik7wPygk&chain=SOL"
                          },
                          "logo1": {
                            "type": "string",
                            "example": "https://token-logo.lpagent.io/api/v1/logo?address=So11111111111111111111111111111111111111112&chain=SOL"
                          },
                          "tokenName0": { "type": "string", "example": "GP" },
                          "tokenName1": { "type": "string", "example": "SOL" },
                          "priceRange": {
                            "type": "array",
                            "items": { "type": "number" },
                            "example": [
                              3.1257738735100027, 6.210582680442794,
                              3.8521785290623467
                            ]
                          },
                          "range": {
                            "type": "array",
                            "items": { "type": "integer" },
                            "example": [-402, -333, -381]
                          },
                          "value": {
                            "type": "number",
                            "example": 50639.07907119099
                          },
                          "valueNative": {
                            "type": "number",
                            "example": 296.7125947462876
                          },
                          "current": {
                            "type": "object",
                            "properties": {
                              "amount0": {
                                "type": "string",
                                "example": "6134935664996.8532855"
                              },
                              "amount1": {
                                "type": "string",
                                "example": "158524771007.10491558"
                              },
                              "amount0Adjusted": {
                                "type": "number",
                                "example": 6134.935664996853
                              },
                              "amount1Adjusted": {
                                "type": "number",
                                "example": 158.52477100710493
                              }
                            }
                          },
                          "unCollectedFee0": {
                            "type": "number",
                            "example": 1.31917386
                          },
                          "unCollectedFee1": { "type": "number", "example": 0 },
                          "unCollectedFee": {
                            "type": "number",
                            "example": 5.071210278816663
                          },
                          "unCollectedFeeNative": {
                            "type": "number",
                            "example": 0.029714046699316238
                          },
                          "price0": {
                            "type": "number",
                            "example": 3.844231933777601
                          },
                          "price1": {
                            "type": "number",
                            "example": 170.66710334453902
                          },
                          "id": {
                            "type": "string",
                            "example": "1dfc9575a268b50f1848f732eb8bca84:ff76fef2591c25fbfb32279f17372a60ad69577aaf06163dd2c980b369736e89422c35ef5f6b5cdbe66861e4acfabbec"
                          },
                          "logs": {
                            "type": "array",
                            "items": { "type": "object" },
                            "example": []
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "error" },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/open-api/v1/lp-positions/historical": {
      "get": {
        "summary": "Get historical LP positions for an owner",
        "description": "Retrieves historical liquidity pool positions for a specific wallet owner",
        "tags": ["positions"],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          },
          {
            "in": "query",
            "name": "from_date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date for filtering positions",
            "example": "2025-01-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "to_date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date for filtering positions",
            "example": "2025-09-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved historical positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "example": "Close"
                              },
                              "strategyType": {
                                "type": "string",
                                "example": "SpotImBalanced"
                              },
                              "tokenId": {
                                "type": "string",
                                "description": "Position ID (token ID)",
                                "example": "EAKJUJDFjRNQ6guA3Q1xqkfZ2ArXxKGL2LUQn69nZ6w7"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "STARTUP"
                              },
                              "currentValue": {
                                "type": "string",
                                "example": "23.6413056088255"
                              },
                              "inputValue": {
                                "type": "number",
                                "example": 23.641305608825547
                              },
                              "inputNative": {
                                "type": "number",
                                "example": 0.13232864407362593
                              },
                              "outputValue": {
                                "type": "number",
                                "example": 23.487261686308557
                              },
                              "outputNative": {
                                "type": "number",
                                "example": 0.13143240986197438
                              },
                              "collectedReward": {
                                "type": "number",
                                "example": 0
                              },
                              "collectedRewardNative": {
                                "type": "number",
                                "example": 0
                              },
                              "collectedFee": {
                                "type": "number",
                                "example": 0
                              },
                              "collectedFeeNative": {
                                "type": "number",
                                "example": 0
                              },
                              "uncollectedFee": {
                                "type": "string",
                                "example": "0"
                              },
                              "tickLower": {
                                "type": "integer",
                                "example": -4501
                              },
                              "tickUpper": {
                                "type": "integer",
                                "example": -4431
                              },
                              "pool": {
                                "type": "string",
                                "example": "UUVJ9rVGVtMyEnLi473xyS7teC1PLg3oCWhVs1c1jpU"
                              },
                              "liquidity": {
                                "type": "string",
                                "example": "0"
                              },
                              "token0": {
                                "type": "string",
                                "example": "97PVGU2DzFqsAWaYU17ZBqGvQFmkqtdMywYBNPAfy8vy"
                              },
                              "token1": {
                                "type": "string",
                                "example": "So11111111111111111111111111111111111111112"
                              },
                              "inRange": {
                                "type": "boolean",
                                "example": true
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-07-30T16:03:34.000Z"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-07-30T16:03:45.000Z"
                              },
                              "pnl": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number",
                                    "example": -0.1540439225169905
                                  },
                                  "valueNative": {
                                    "type": "number",
                                    "example": -0.0008962342116515531
                                  },
                                  "percent": {
                                    "type": "number",
                                    "example": -0.6515880512939365
                                  },
                                  "percentNative": {
                                    "type": "number",
                                    "example": -0.6772790713043958
                                  }
                                }
                              },
                              "pnlNative": {
                                "type": "number",
                                "example": -0.0008962342116515531
                              },
                              "upnl": {
                                "type": "number",
                                "nullable": true,
                                "example": null
                              },
                              "owner": {
                                "type": "string",
                                "example": "DMQ7mJ8DTXYLoc1g1NpSv7jtDdaCzsLUdzvvY8MA4hbX"
                              },
                              "dpr": {
                                "type": "number",
                                "example": -51.17927966526919
                              },
                              "dprNative": {
                                "type": "number",
                                "example": -53.19719250972708
                              },
                              "ageHour": {
                                "type": "string",
                                "example": "0.00305555555555555556"
                              },
                              "decimal0": {
                                "type": "integer",
                                "example": 9
                              },
                              "decimal1": {
                                "type": "integer",
                                "example": 9
                              },
                              "yield24h": {
                                "type": "number",
                                "nullable": true,
                                "example": null
                              },
                              "apr": {
                                "type": "number",
                                "nullable": true,
                                "example": null
                              },
                              "protocol": {
                                "type": "string",
                                "example": "meteora"
                              },
                              "token0Info": {
                                "type": "object",
                                "properties": {
                                  "token_symbol": {
                                    "type": "string",
                                    "example": "STARTUP"
                                  },
                                  "token_name": {
                                    "type": "string",
                                    "example": "Startup"
                                  },
                                  "token_decimals": {
                                    "type": "integer",
                                    "example": 9
                                  },
                                  "token_address": {
                                    "type": "string",
                                    "example": "97PVGU2DzFqsAWaYU17ZBqGvQFmkqtdMywYBNPAfy8vy"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  }
                                }
                              },
                              "token1Info": {
                                "type": "object",
                                "properties": {
                                  "token_symbol": {
                                    "type": "string",
                                    "example": "SOL"
                                  },
                                  "token_name": {
                                    "type": "string",
                                    "example": "Wrapped SOL"
                                  },
                                  "token_decimals": {
                                    "type": "integer",
                                    "example": 9
                                  },
                                  "token_address": {
                                    "type": "string",
                                    "example": "So11111111111111111111111111111111111111112"
                                  },
                                  "logo": {
                                    "type": "string",
                                    "example": "https://www.dextools.io/resources/tokens/logos/3/solana/So11111111111111111111111111111111111111112.jpg"
                                  }
                                }
                              },
                              "poolInfo": {
                                "type": "object",
                                "properties": {
                                  "fee": {
                                    "type": "integer",
                                    "example": 20
                                  },
                                  "tickSpacing": {
                                    "type": "integer",
                                    "example": 20
                                  }
                                }
                              },
                              "age": {
                                "type": "string",
                                "example": "0.00"
                              },
                              "position": {
                                "type": "string",
                                "example": "EAKJUJDFjRNQ6guA3Q1xqkfZ2ArXxKGL2LUQn69nZ6w7"
                              },
                              "logo0": {
                                "type": "string",
                                "example": "https://token-logo.lpagent.io/api/v1/logo?address=97PVGU2DzFqsAWaYU17ZBqGvQFmkqtdMywYBNPAfy8vy&chain=SOL"
                              },
                              "logo1": {
                                "type": "string",
                                "example": "https://token-logo.lpagent.io/api/v1/logo?address=So11111111111111111111111111111111111111112&chain=SOL"
                              },
                              "tokenName0": {
                                "type": "string",
                                "example": "STARTUP"
                              },
                              "tokenName1": {
                                "type": "string",
                                "example": "SOL"
                              },
                              "priceRange": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "example": [
                                  0.02119779171413261, 0.024379855528418568,
                                  0.01839426300470885
                                ]
                              },
                              "value": {
                                "type": "number",
                                "example": 23.641305608825547
                              },
                              "valueNative": {
                                "type": "number",
                                "example": 0.13232864407362593
                              },
                              "close_At": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-07-30T16:03:45.000Z"
                              },
                              "closeAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-07-30T16:03:45.000Z"
                              },
                              "fee": {
                                "type": "number",
                                "example": 0
                              },
                              "feeNative": {
                                "type": "number",
                                "example": 0
                              },
                              "feePercent": {
                                "type": "number",
                                "example": 0
                              },
                              "feePercentNative": {
                                "type": "number",
                                "example": 0
                              },
                              "creationType": {
                                "type": "string",
                                "example": "AUTO"
                              },
                              "pnlNativeAudited": {
                                "type": "number",
                                "example": -0.004338157999999981
                              },
                              "solInAudited": {
                                "type": "number",
                                "example": 0.192444558
                              },
                              "solOutAudited": {
                                "type": "number",
                                "example": 0.1881064
                              },
                              "followInfo": {
                                "type": "object",
                                "properties": {
                                  "sourceOwner": {
                                    "type": "string",
                                    "example": "7KHx2Uc5qsqz652eXbu8Qtabi5KLxWJLgxFzcaBzP32i"
                                  },
                                  "sourceLabel": {
                                    "type": "string",
                                    "example": "cromatoforo"
                                  },
                                  "sourceTokenId": {
                                    "type": "string",
                                    "example": "9DJ1vtDHs3x8yQCoPRBwMqFsUQAa7VtufsnoPe11kU2Q"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 111
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 1329
                            },
                            "pageSize": {
                              "type": "integer",
                              "example": 12
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/open-api/v1/lp-positions/overview": {
      "get": {
        "summary": "Get overview metrics for LP positions",
        "description": "Retrieves comprehensive overview and metrics for liquidity pool positions of a specific owner",
        "tags": ["positions"],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": { "type": "string" },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": { "type": "string", "default": "meteora" },
            "description": "Protocol to filter by (e.g., meteora, orca)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved overview data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "string",
                          "description": "Wallet address of the owner",
                          "example": "DMQ7mJ8DTXYLoc1g1NpSv7jtDdaCzsLUdzvvY8MA4hbX"
                        },
                        "chain": {
                          "type": "string",
                          "description": "Blockchain chain (e.g., SOL)",
                          "example": "SOL"
                        },
                        "protocol": {
                          "type": "string",
                          "description": "Protocol name (e.g., meteora, orca)",
                          "example": "meteora"
                        },
                        "total_inflow": {
                          "type": "number",
                          "description": "Total inflow amount",
                          "example": 1586491.3551108437
                        },
                        "avg_inflow": {
                          "type": "object",
                          "description": "Average inflow with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 1233.6635731810604
                            },
                            "7D": {
                              "type": "number",
                              "example": 1009.8441703184694
                            },
                            "1M": {
                              "type": "number",
                              "example": 1895.4839197467682
                            },
                            "3M": {
                              "type": "number",
                              "example": 1243.036011296495
                            },
                            "1Y": {
                              "type": "number",
                              "example": 1233.66357318106
                            },
                            "YTD": {
                              "type": "number",
                              "example": 1233.66357318106
                            }
                          }
                        },
                        "total_outflow": {
                          "type": "number",
                          "description": "Total outflow amount",
                          "example": 1578323.345425783
                        },
                        "total_fee": {
                          "type": "object",
                          "description": "Total fees with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 12516.614685851924
                            },
                            "7D": {
                              "type": "number",
                              "example": 4.262212981880845
                            },
                            "1M": {
                              "type": "number",
                              "example": 7404.187815729953
                            },
                            "3M": {
                              "type": "number",
                              "example": 12498.147067807171
                            },
                            "1Y": {
                              "type": "number",
                              "example": 12516.614685851926
                            },
                            "YTD": {
                              "type": "number",
                              "example": 12516.614685851926
                            }
                          }
                        },
                        "total_reward": {
                          "type": "number",
                          "description": "Total rewards earned",
                          "example": 0
                        },
                        "total_pnl": {
                          "type": "object",
                          "description": "Total profit and loss with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 4323.2505549474245
                            },
                            "7D": {
                              "type": "number",
                              "example": -85.02276020207705
                            },
                            "1M": {
                              "type": "number",
                              "example": 3502.31375643287
                            },
                            "3M": {
                              "type": "number",
                              "example": 4315.87760395399
                            },
                            "1Y": {
                              "type": "number",
                              "example": 4323.250554947427
                            },
                            "YTD": {
                              "type": "number",
                              "example": 4323.250554947427
                            }
                          }
                        },
                        "total_inflow_native": {
                          "type": "number",
                          "description": "Total inflow in native token",
                          "example": 10585.562828397458
                        },
                        "avg_inflow_native": {
                          "type": "object",
                          "description": "Average inflow in native token with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 8.231386336234415
                            },
                            "7D": {
                              "type": "number",
                              "example": 5.388384469621412
                            },
                            "1M": {
                              "type": "number",
                              "example": 12.475841877745875
                            },
                            "3M": {
                              "type": "number",
                              "example": 8.29392670708921
                            },
                            "1Y": {
                              "type": "number",
                              "example": 8.231386336234413
                            },
                            "YTD": {
                              "type": "number",
                              "example": 8.231386336234413
                            }
                          }
                        },
                        "total_outflow_native": {
                          "type": "number",
                          "description": "Total outflow in native token",
                          "example": 10529.299449727307
                        },
                        "total_fee_native": {
                          "type": "object",
                          "description": "Total fees in native token with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 83.4853120103325
                            },
                            "7D": {
                              "type": "number",
                              "example": 0.022746553186898555
                            },
                            "1M": {
                              "type": "number",
                              "example": 48.820621387493105
                            },
                            "3M": {
                              "type": "number",
                              "example": 83.36295390095411
                            },
                            "1Y": {
                              "type": "number",
                              "example": 83.48531201033254
                            },
                            "YTD": {
                              "type": "number",
                              "example": 83.48531201033254
                            }
                          }
                        },
                        "total_reward_native": {
                          "type": "number",
                          "description": "Total rewards in native token",
                          "example": 0
                        },
                        "total_pnl_native": {
                          "type": "object",
                          "description": "Total PnL in native token with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 8.756756271321922
                            },
                            "7D": {
                              "type": "number",
                              "example": -0.02289659499999974
                            },
                            "1M": {
                              "type": "number",
                              "example": 11.766254518455375
                            },
                            "3M": {
                              "type": "number",
                              "example": 8.70741865915985
                            },
                            "1Y": {
                              "type": "number",
                              "example": 8.756756271321928
                            },
                            "YTD": {
                              "type": "number",
                              "example": 8.756756271321928
                            }
                          }
                        },
                        "avg_age_hour": {
                          "type": "number",
                          "description": "Average position age in hours",
                          "example": 2.1423017107309485
                        },
                        "total_lp": {
                          "type": "string",
                          "description": "Total number of LP positions",
                          "example": "1294"
                        },
                        "win_lp": {
                          "type": "string",
                          "description": "Number of winning LP positions",
                          "example": "403"
                        },
                        "win_lp_native": {
                          "type": "string",
                          "description": "Number of winning LP positions in native token",
                          "example": "229"
                        },
                        "closed_lp": {
                          "type": "object",
                          "description": "Closed LP positions with time ranges",
                          "properties": {
                            "ALL": { "type": "string", "example": "1286" },
                            "7D": { "type": "integer", "example": 13 },
                            "1M": { "type": "integer", "example": 515 },
                            "3M": { "type": "integer", "example": 1276 },
                            "1Y": { "type": "integer", "example": 1286 },
                            "YTD": { "type": "integer", "example": 1286 }
                          }
                        },
                        "opening_lp": {
                          "type": "string",
                          "description": "Number of opening LP positions",
                          "example": "8"
                        },
                        "total_pool": {
                          "type": "string",
                          "description": "Total number of pools",
                          "example": "188"
                        },
                        "win_rate": {
                          "type": "object",
                          "description": "Win rate with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 0.533068783068783
                            },
                            "7D": {
                              "type": "number",
                              "example": 0.16666666666666666
                            },
                            "1M": {
                              "type": "number",
                              "example": 0.5786163522012578
                            },
                            "3M": {
                              "type": "number",
                              "example": 0.5327102803738317
                            },
                            "1Y": {
                              "type": "number",
                              "example": 0.533068783068783
                            },
                            "YTD": {
                              "type": "number",
                              "example": 0.533068783068783
                            }
                          }
                        },
                        "win_rate_native": {
                          "type": "object",
                          "description": "Win rate in native token with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 0.6835820895522388
                            },
                            "7D": { "type": "number", "example": 0 },
                            "1M": {
                              "type": "number",
                              "example": 0.6942675159235668
                            },
                            "3M": {
                              "type": "number",
                              "example": 0.6848484848484848
                            },
                            "1Y": {
                              "type": "number",
                              "example": 0.6835820895522388
                            },
                            "YTD": {
                              "type": "number",
                              "example": 0.6835820895522388
                            }
                          }
                        },
                        "expected_value": {
                          "type": "object",
                          "description": "Expected value with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 5.718585390142092
                            },
                            "7D": {
                              "type": "number",
                              "example": -14.17046003367951
                            },
                            "1M": {
                              "type": "number",
                              "example": 11.013565271801475
                            },
                            "3M": {
                              "type": "number",
                              "example": 5.762186387121481
                            },
                            "1Y": {
                              "type": "number",
                              "example": 5.7185853901420955
                            },
                            "YTD": {
                              "type": "number",
                              "example": 5.7185853901420955
                            }
                          }
                        },
                        "expected_value_native": {
                          "type": "object",
                          "description": "Expected value in native token with time ranges",
                          "properties": {
                            "ALL": {
                              "type": "number",
                              "example": 0.026139570959169856
                            },
                            "7D": {
                              "type": "number",
                              "example": -0.02289659499999974
                            },
                            "1M": {
                              "type": "number",
                              "example": 0.07494429629589411
                            },
                            "3M": {
                              "type": "number",
                              "example": 0.026386117148969213
                            },
                            "1Y": {
                              "type": "number",
                              "example": 0.02613957095916991
                            },
                            "YTD": {
                              "type": "number",
                              "example": 0.02613957095916991
                            }
                          }
                        },
                        "fee_percent": {
                          "type": "number",
                          "description": "Fee percentage",
                          "example": 0.007889494415163342
                        },
                        "fee_percent_native": {
                          "type": "number",
                          "description": "Fee percentage in native token",
                          "example": 0.0078867145152046
                        },
                        "apr": {
                          "type": "number",
                          "description": "Annual percentage rate",
                          "example": 17678030.44344193
                        },
                        "roi": {
                          "type": "number",
                          "description": "Return on investment",
                          "example": 0.0027250388355538006
                        },
                        "roi_avg_inflow": {
                          "type": "number",
                          "description": "ROI based on average inflow",
                          "example": 0.004635449659420882
                        },
                        "roi_avg_inflow_native": {
                          "type": "number",
                          "description": "ROI based on average inflow in native token",
                          "example": 0.0031755976322122067
                        },
                        "first_activity": {
                          "type": "string",
                          "description": "First activity timestamp",
                          "example": "2025-04-25 01:37:08.000"
                        },
                        "last_activity": {
                          "type": "string",
                          "description": "Last activity timestamp",
                          "example": "2025-07-30 16:03:45.000"
                        },
                        "avg_pos_profit": {
                          "type": "number",
                          "description": "Average position profit",
                          "example": 5.7185853901420955
                        },
                        "avg_pos_profit_native": {
                          "type": "number",
                          "description": "Average position profit in native token",
                          "example": 0.026139570959169918
                        },
                        "avg_monthly_profit_percent": {
                          "type": "number",
                          "description": "Average monthly profit percentage",
                          "example": 0.004306823066304065
                        },
                        "avg_monthly_pnl": {
                          "type": "number",
                          "description": "Average monthly PnL",
                          "example": 1080.8126387368566
                        },
                        "avg_monthly_inflow": {
                          "type": "number",
                          "description": "Average monthly inflow",
                          "example": 396622.8387777108
                        },
                        "avg_monthly_profit_percent_native": {
                          "type": "number",
                          "description": "Average monthly profit percentage in native token",
                          "example": 0.005537899372724309
                        },
                        "avg_monthly_pnl_native": {
                          "type": "number",
                          "description": "Average monthly PnL in native token",
                          "example": 2.1891890678304833
                        },
                        "avg_monthly_inflow_native": {
                          "type": "number",
                          "description": "Average monthly inflow in native token",
                          "example": 2646.390707099365
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Last update timestamp",
                          "example": "2025-07-30 17:02:36"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "error" },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owner overview not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "error" },
                    "message": {
                      "type": "string",
                      "example": "Owner overview not found"
                    }
                  }
                }
              }
            }
          },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/open-api/v1/lp-positions/position": {
      "get": {
        "summary": "Get detailed information for a specific LP position",
        "description": "Retrieves comprehensive details about a liquidity provider position including status, PnL, tokens, and transaction logs",
        "tags": ["positions"],
        "parameters": [
          {
            "in": "query",
            "name": "position",
            "required": true,
            "schema": { "type": "string" },
            "description": "The position ID/token ID to retrieve",
            "example": "5tTjw7V7b5QV7xL6jj5RUfV45QWMugYzENSTLZYvp1TP"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved position details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Position status",
                          "example": "Open"
                        },
                        "strategyType": {
                          "type": "string",
                          "description": "Strategy type for the position"
                        },
                        "tokenId": {
                          "type": "string",
                          "description": "Position token ID",
                          "example": "5tTjw7V7b5QV7xL6jj5RUfV45QWMugYzENSTLZYvp1TP"
                        },
                        "pairName": {
                          "type": "string",
                          "description": "Trading pair name",
                          "example": "STREAMER"
                        },
                        "currentValue": {
                          "type": "string",
                          "description": "Current USD value of the position",
                          "example": "1945.43465917398"
                        },
                        "inputValue": {
                          "type": "number",
                          "description": "Initial USD value invested",
                          "example": 1953.2696703928616
                        },
                        "inputNative": {
                          "type": "number",
                          "description": "Initial native token amount invested",
                          "example": 9.578296184
                        },
                        "outputValue": {
                          "type": "number",
                          "description": "USD value of withdrawn amount",
                          "example": 0
                        },
                        "outputNative": {
                          "type": "number",
                          "description": "Native token amount withdrawn",
                          "example": 0
                        },
                        "collectedReward": {
                          "type": "number",
                          "description": "USD value of collected rewards",
                          "example": 0
                        },
                        "collectedRewardNative": {
                          "type": "number",
                          "description": "Native token amount of collected rewards",
                          "example": 0
                        },
                        "collectedFee": {
                          "type": "number",
                          "description": "USD value of collected fees",
                          "example": 65.00620782123218
                        },
                        "collectedFeeNative": {
                          "type": "number",
                          "description": "Native token amount of collected fees",
                          "example": 0.3177726158119659
                        },
                        "uncollectedFee": {
                          "type": "string",
                          "description": "USD value of uncollected fees",
                          "example": "0"
                        },
                        "impermanentLoss": {
                          "type": "number",
                          "nullable": true,
                          "description": "Impermanent loss amount"
                        },
                        "inputToken0": {
                          "type": "number",
                          "description": "Initial amount of token0",
                          "example": 0
                        },
                        "inputToken1": {
                          "type": "number",
                          "description": "Initial amount of token1",
                          "example": 9578296184
                        },
                        "tickLower": {
                          "type": "number",
                          "description": "Lower tick of the position range",
                          "example": -341
                        },
                        "tickUpper": {
                          "type": "number",
                          "description": "Upper tick of the position range",
                          "example": -243
                        },
                        "pool": {
                          "type": "string",
                          "description": "Pool address",
                          "example": "CcyHh3WgYRpLMDgSRSsJ2ptneSHfrc73oR51r72pAHU7"
                        },
                        "liquidity": {
                          "type": "string",
                          "description": "Current liquidity amount",
                          "example": "0"
                        },
                        "token0": {
                          "type": "string",
                          "description": "Token0 address",
                          "example": "3arUrpH3nzaRJbbpVgY42dcqSq9A5BFgUxKozZ4npump"
                        },
                        "token1": {
                          "type": "string",
                          "description": "Token1 address",
                          "example": "So11111111111111111111111111111111111111112"
                        },
                        "inRange": {
                          "type": "boolean",
                          "description": "Whether the position is in range",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Position creation timestamp",
                          "example": "2025-09-04T15:46:55.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Position last update timestamp",
                          "example": "2025-09-04T23:08:19.000Z"
                        },
                        "pnl": {
                          "type": "object",
                          "description": "Profit and loss information",
                          "properties": {
                            "value": {
                              "type": "number",
                              "description": "PnL in USD",
                              "example": -1.1084269291922126
                            },
                            "percent": {
                              "type": "number",
                              "description": "PnL percentage",
                              "example": -0.05674725543499963
                            },
                            "valueNative": {
                              "type": "number",
                              "description": "PnL in native token",
                              "example": 0.031181194298495987
                            },
                            "percentNative": {
                              "type": "number",
                              "description": "PnL percentage in native token",
                              "example": 0.3255400929299138
                            }
                          }
                        },
                        "pnlNative": {
                          "type": "number",
                          "description": "Native token PnL",
                          "example": -9.260523568188033
                        },
                        "upnl": {
                          "type": "number",
                          "nullable": true,
                          "description": "Unrealized PnL"
                        },
                        "owner": {
                          "type": "string",
                          "description": "Position owner address",
                          "example": "ACQTiYg2TMRRKo294PENtfqkBqWQ5u3D7NDpm8Te2tyG"
                        },
                        "dpr": {
                          "type": "number",
                          "description": "Daily percentage return in USD",
                          "example": -0.001361934130439991
                        },
                        "dprNative": {
                          "type": "number",
                          "description": "Daily percentage return in native token",
                          "example": 0.007812962230317931
                        },
                        "ageHour": {
                          "type": "number",
                          "nullable": true,
                          "description": "Position age in hours"
                        },
                        "decimal0": {
                          "type": "number",
                          "description": "Token0 decimals",
                          "example": 6
                        },
                        "decimal1": {
                          "type": "number",
                          "description": "Token1 decimals",
                          "example": 9
                        },
                        "yield24h": {
                          "type": "number",
                          "nullable": true,
                          "description": "24-hour yield"
                        },
                        "apr": {
                          "type": "number",
                          "nullable": true,
                          "description": "Annual percentage rate"
                        },
                        "protocol": {
                          "type": "string",
                          "description": "Protocol name",
                          "example": "meteora"
                        },
                        "token0Info": {
                          "type": "object",
                          "description": "Token0 information",
                          "properties": {
                            "token_symbol": {
                              "type": "string",
                              "example": "STREAMER"
                            },
                            "token_name": {
                              "type": "string",
                              "example": "StreamerCoin"
                            },
                            "token_decimals": {
                              "type": "number",
                              "example": 6
                            },
                            "token_address": {
                              "type": "string",
                              "example": "3arUrpH3nzaRJbbpVgY42dcqSq9A5BFgUxKozZ4npump"
                            },
                            "logo": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "token1Info": {
                          "type": "object",
                          "description": "Token1 information",
                          "properties": {
                            "token_symbol": {
                              "type": "string",
                              "example": "SOL"
                            },
                            "token_name": {
                              "type": "string",
                              "example": "Wrapped SOL"
                            },
                            "token_decimals": {
                              "type": "number",
                              "example": 9
                            },
                            "token_address": {
                              "type": "string",
                              "example": "So11111111111111111111111111111111111111112"
                            },
                            "logo": {
                              "type": "string",
                              "example": "https://www.dextools.io/resources/tokens/logos/3/solana/So11111111111111111111111111111111111111112.jpg"
                            }
                          }
                        },
                        "poolInfo": {
                          "type": "object",
                          "description": "Pool information",
                          "properties": {
                            "fee": {
                              "type": "number",
                              "description": "Pool fee in basis points",
                              "example": 100
                            },
                            "tickSpacing": {
                              "type": "number",
                              "description": "Tick spacing for the pool",
                              "example": 125
                            }
                          }
                        },
                        "age": {
                          "type": "string",
                          "description": "Position age in days",
                          "example": "0.45"
                        },
                        "position": {
                          "type": "string",
                          "description": "Position identifier",
                          "example": "5tTjw7V7b5QV7xL6jj5RUfV45QWMugYzENSTLZYvp1TP"
                        },
                        "logo0": {
                          "type": "string",
                          "description": "Token0 logo URL",
                          "example": "https://token-logo.getnimbus.io/api/v1/logo?address=3arUrpH3nzaRJbbpVgY42dcqSq9A5BFgUxKozZ4npump&chain=SOL"
                        },
                        "logo1": {
                          "type": "string",
                          "description": "Token1 logo URL",
                          "example": "https://token-logo.getnimbus.io/api/v1/logo?address=So11111111111111111111111111111111111111112&chain=SOL"
                        },
                        "tokenName0": {
                          "type": "string",
                          "description": "Token0 name",
                          "example": "STREAMER"
                        },
                        "tokenName1": {
                          "type": "string",
                          "description": "Token1 name",
                          "example": "SOL"
                        },
                        "priceRange": {
                          "type": "array",
                          "description": "Price range array [lower, upper, current]",
                          "items": { "type": "number" },
                          "example": [
                            0.0029376923002315727, 0.009924746662859895,
                            0.005535449986126866
                          ]
                        },
                        "range": {
                          "type": "array",
                          "description": "Tick range array [lower, upper, current]",
                          "items": { "type": "number" },
                          "example": [-341, -243, -290]
                        },
                        "value": {
                          "type": "number",
                          "description": "Current position value in USD",
                          "example": 1870.0445330471607
                        },
                        "valueNative": {
                          "type": "number",
                          "description": "Current position value in native token",
                          "example": 9.207458510615153
                        },
                        "current": {
                          "type": "object",
                          "description": "Current token amounts",
                          "properties": {
                            "amount0": {
                              "type": "string",
                              "description": "Current amount of token0 (raw)",
                              "example": "68057177237"
                            },
                            "amount1": {
                              "type": "string",
                              "description": "Current amount of token1 (raw)",
                              "example": "7356057600"
                            },
                            "amount0Adjusted": {
                              "type": "number",
                              "description": "Current amount of token0 (adjusted for decimals)",
                              "example": 68057.177237
                            },
                            "amount1Adjusted": {
                              "type": "number",
                              "description": "Current amount of token1 (adjusted for decimals)",
                              "example": 7.3560576
                            }
                          }
                        },
                        "unCollectedFee0": {
                          "type": "number",
                          "description": "Uncollected fees for token0",
                          "example": 1752.90661
                        },
                        "unCollectedFee1": {
                          "type": "number",
                          "description": "Uncollected fees for token1",
                          "example": 0.036560864
                        },
                        "unCollectedFee": {
                          "type": "number",
                          "description": "Total uncollected fees in USD",
                          "example": 17.110502595276436
                        },
                        "unCollectedFeeNative": {
                          "type": "number",
                          "description": "Total uncollected fees in native token",
                          "example": 0.08424625187137592
                        },
                        "price0": {
                          "type": "number",
                          "description": "Current price of token0",
                          "example": 0.005525081888046805
                        },
                        "price1": {
                          "type": "number",
                          "description": "Current price of token1",
                          "example": 203.10105453
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique position identifier",
                          "example": "26e3d33a2ba9a95f1021e0115e40f132:c8a2a48b6fab04a1781d0a1d515713d3c2d43ef1d4770665b95baf504e91f8aa78c8ef77fa5898db01fc9f0cda863796"
                        },
                        "creationType": {
                          "type": "string",
                          "description": "How the position was created",
                          "example": "AUTO"
                        },
                        "followInfo": {
                          "type": "object",
                          "description": "Information about followed positions",
                          "properties": {
                            "sourceOwner": {
                              "type": "string",
                              "description": "Source owner identifier",
                              "example": "bb7b777b80b3948b3910aac6cfb85a6b:554f1dcb15f76893c41d150c6ddaa1d44a117fcff191a75a2052e4980e3f00d213cf4b7374a1e1dd1392ead036a9cd60"
                            },
                            "sourceLabel": {
                              "type": "string",
                              "description": "Source label/name",
                              "example": "Twenti"
                            },
                            "sourceTokenId": {
                              "type": "string",
                              "description": "Source token ID",
                              "example": "651fa1c45f7188731b4e585c4131217e:ed5bdc892f6456accb1a79b4792efa841d385cb83967e12684950399de07892c2bc52028e6c6513df01a57ccc62f2ba9"
                            }
                          }
                        },
                        "settings": {
                          "type": "object",
                          "description": "Position management settings",
                          "properties": {
                            "autoCompound": {
                              "type": "boolean",
                              "description": "Whether auto-compound is enabled",
                              "example": false
                            },
                            "compoundThreshold": {
                              "type": "string",
                              "description": "Threshold for auto-compound",
                              "example": "0"
                            },
                            "autoRebalance": {
                              "type": "boolean",
                              "description": "Whether auto-rebalance is enabled",
                              "example": false
                            },
                            "aiManage": {
                              "type": "boolean",
                              "description": "Whether AI management is enabled",
                              "example": false
                            },
                            "rebalanceInterval": {
                              "type": "number",
                              "description": "Rebalance interval",
                              "example": 1
                            },
                            "rebalanceUpOnly": {
                              "type": "boolean",
                              "description": "Whether to rebalance up only",
                              "example": false
                            },
                            "takeProfitBps": {
                              "type": "number",
                              "description": "Take profit threshold in basis points",
                              "example": 1000
                            },
                            "stopLossBps": {
                              "type": "number",
                              "description": "Stop loss threshold in basis points",
                              "example": 2000
                            },
                            "preferNativeValue": {
                              "type": "boolean",
                              "description": "Whether to prefer native value display",
                              "example": false
                            },
                            "positionCurrency": {
                              "type": "string",
                              "description": "Currency for position display",
                              "example": "SOL"
                            }
                          }
                        },
                        "logs": {
                          "type": "array",
                          "description": "Position activity logs",
                          "items": {
                            "type": "object",
                            "properties": {
                              "position_id": {
                                "type": "string",
                                "description": "Position ID",
                                "example": "5tTjw7V7b5QV7xL6jj5RUfV45QWMugYzENSTLZYvp1TP"
                              },
                              "trigger": {
                                "type": "string",
                                "description": "Event trigger type",
                                "example": "COLLECT_FEE_SUCCESS"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Log entry timestamp",
                                "example": "2025-09-04T23:08:23.013Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "error" },
                    "message": {
                      "type": "string",
                      "example": "position parameter is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/open-api/v1/lp-positions/logs": {
      "get": {
        "summary": "Get logs for LP positions",
        "description": "Retrieves transaction logs for LP positions. Can fetch logs for a specific position of an owner.",
        "tags": ["positions"],
        "parameters": [
          {
            "in": "query",
            "name": "position",
            "schema": {
              "type": "string"
            },
            "description": "Position ID (token ID)",
            "example": "Ep22EwKegXis3bTC6P8JLgsHaT5J2beM2TncKe2Hmv24"
          },
          {
            "in": "query",
            "name": "chain",
            "schema": {
              "type": "string",
              "default": "SOL"
            },
            "description": "Blockchain chain identifier",
            "example": "SOL"
          },
          {
            "in": "query",
            "name": "owner",
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved position logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of logs",
                      "example": 45
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner": {
                            "type": "string",
                            "description": "Position owner wallet address",
                            "example": "7KHx2Uc5qsqz652eXbu8Qtabi5KLxWJLgxFzcaBzP32i"
                          },
                          "action": {
                            "type": "string",
                            "description": "Type of action performed",
                            "example": "add_liquidity"
                          },
                          "amount0": {
                            "type": "string",
                            "description": "Amount of token0 involved in the transaction",
                            "example": "1000000000"
                          },
                          "amount1": {
                            "type": "string",
                            "description": "Amount of token1 involved in the transaction",
                            "example": "500000000"
                          },
                          "decimal0": {
                            "type": "integer",
                            "description": "Decimal places for token0",
                            "example": 9
                          },
                          "decimal1": {
                            "type": "integer",
                            "description": "Decimal places for token1",
                            "example": 9
                          },
                          "price0": {
                            "type": "string",
                            "description": "Price of token0 at time of transaction",
                            "example": "3.844231933777601"
                          },
                          "price1": {
                            "type": "string",
                            "description": "Price of token1 at time of transaction",
                            "example": "170.66710334453902"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction timestamp",
                            "example": "2025-07-25T16:23:04.000Z"
                          },
                          "nativePrice": {
                            "type": "string",
                            "nullable": true,
                            "description": "Price in native currency (SOL)",
                            "example": "178.45"
                          },
                          "strategyType": {
                            "type": "string",
                            "nullable": true,
                            "description": "Strategy type used for the position",
                            "example": "BidAskImBalanced"
                          },
                          "tickUpper": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Upper tick boundary",
                            "example": -333
                          },
                          "tickLower": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Lower tick boundary",
                            "example": -402
                          },
                          "bps": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Basis points for fee calculation",
                            "example": 100
                          },
                          "logo0": {
                            "type": "string",
                            "nullable": true,
                            "description": "Logo URL for token0",
                            "example": "https://token-logo.lpagent.io/api/v1/logo?address=31k88G5Mq7ptbRDf3AM13HAq6wRQHXHikR8hik7wPygk&chain=SOL"
                          },
                          "logo1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Logo URL for token1",
                            "example": "https://token-logo.lpagent.io/api/v1/logo?address=So11111111111111111111111111111111111111112&chain=SOL"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - position or owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "position or owner parameter is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "tags": []
}
