{
  "openapi": "3.0.0",
  "info": {
    "title": "LP Agent API",
    "version": "1.0.0",
    "description": "API for LP Agent\n\n**Rate Limiting**\n\nThis API implements rate limiting to ensure fair usage and protect our services. The current rate limit is:\n\n- **5 requests per 1 minute** per API Keys\n\nIf you exceed this limit, you will receive a 429 (Too Many Requests) response. Please wait for the rate limit window to reset before making additional requests.\n\nIf you need more, please contact us at **thanhle@getnimbus.io** or TG: **@thanhle27**"
  },
  "servers": [
    {
      "url": "https://api.lpagent.io",
      "description": "API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/open-api/v1/lp-positions/opening": {
      "get": {
        "summary": "Get opening LP positions for an owner",
        "description": "Retrieves current liquidity pool positions that are open for a specific wallet owner",
        "tags": [
          "positions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved opening positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Position ID (token ID)"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "tokenName0": {
                            "type": "string"
                          },
                          "tokenName1": {
                            "type": "string"
                          },
                          "tokenSymbol0": {
                            "type": "string"
                          },
                          "tokenSymbol1": {
                            "type": "string"
                          },
                          "liquidity": {
                            "type": "number"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "apr": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/open-api/v1/lp-positions/historical": {
      "get": {
        "summary": "Get historical LP positions for an owner",
        "description": "Retrieves historical liquidity pool positions for a specific wallet owner",
        "tags": [
          "positions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved historical positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "tokenName0": {
                            "type": "string"
                          },
                          "tokenName1": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/open-api/v1/lp-positions/revenue": {
      "get": {
        "summary": "Get revenue data for LP positions",
        "description": "Retrieves revenue analytics for liquidity pool positions of a specific owner",
        "tags": [
          "positions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          },
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            },
            "description": "Aggregation period for revenue data"
          },
          {
            "in": "query",
            "name": "range",
            "schema": {
              "type": "string",
              "enum": [
                "7D",
                "1M",
                "3M",
                "1Y",
                "YTD",
                "ALL"
              ]
            },
            "description": "Time range for data retrieval"
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": {
              "type": "string"
            },
            "description": "Protocol filter (e.g., meteora, orca)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved revenue data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalRevenue": {
                          "type": "number",
                          "description": "Total revenue in USD"
                        },
                        "dailyRevenue": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "revenue": {
                                "type": "number"
                              },
                              "volume": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "periodRevenue": {
                          "type": "number",
                          "description": "Revenue for the specified period"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid query parameters"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/open-api/v1/lp-positions/overview": {
      "get": {
        "summary": "Get overview metrics for LP positions",
        "description": "Retrieves comprehensive overview and metrics for liquidity pool positions of a specific owner",
        "tags": [
          "positions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address of the position owner",
            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": {
              "type": "string",
              "default": "meteora"
            },
            "description": "Protocol to filter by (e.g., meteora, orca)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved overview data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalValue": {
                          "type": "number",
                          "description": "Total value of all positions in USD"
                        },
                        "totalPositions": {
                          "type": "integer",
                          "description": "Number of active positions"
                        },
                        "totalRevenue": {
                          "type": "number",
                          "description": "Total revenue generated"
                        },
                        "averageApr": {
                          "type": "number",
                          "description": "Average APR across all positions"
                        },
                        "topPositions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "tokenName0": {
                                "type": "string"
                              },
                              "tokenName1": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              },
                              "apr": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - owner parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "owner is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owner overview not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Owner overview not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "tags": []
}